.grid{
    width: 560px;
    height: 560px;
    border: solid pink;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.murs{
    background-image: url(./img/muros.png);
}

.guarida{
    background-color: rgb(193, 168, 204);
}


.green{
    background-image: url(./img/muros.avif);
    background-size:cover ;
}

.rosa{
    background-image: url(./img/rosanueva.png);
    background-size: cover;
}

.huecos{
    background-color: azure;
}

.petalos{
    background-image: url(./img/petalopng.png);
    background-size: cover;
}

.principe{
    background-image: url(./img/santjordi.png);
    background-size: cover;

}

.caballo{
    background-image: url(./img/caballo.png);
    background-size: cover;
}

.dragon1{
    background-image: url(./img/dragonamarillopng.webp);
    background-size: cover;

}

.dragon2{
    background-image: url(./img/dragonazulpng.webp);
    background-size: cover;
}

.dragon3{
    background-image: url(./img/dragonlilapng.webp);
    background-size: cover;
}

.dragon4{
    background-image: url(./img/dragonverdepng.webp);
    background-size: cover;
}

.dragonAsustado{
    background-image: url(./img/dragon1-removebg-preview.png);
    background-size: cover;
}

