.grid{
    width: 560px;
    height: 560px;
    border: solid pink;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.murs{
    background-image: url(./img/muros.png);
}

.guarida{
    background-color: rgb(193, 168, 204);
}


.green{
    background-image: url(./img/muros.avif);
    background-size:cover ;
}


.grey{
    background-color: grey;
}

.petalos{
    background-image: url(./img/petalopng.png);
    background-size: cover;
}

.principe{
    background-image: url(./img/santjordi.png);
    background-size: cover;

}

.dragonAmarillo{
    background-image: url(./img/dragonamarillopng.webp);
    background-size: cover;

}

.dragonAzul{
    background-image: url(./img/dragonazulpng.webp);
    background-size: cover;
}

.dragonLila{
    background-image: url(./img/dragonlilapng.webp);
    background-size: cover;
}

.dragonVerde{
    background-image: url(./img/dragonverdepng.webp);
    background-size: cover;
}

.dragonAsustado{
    background-image: url(./img/dragon1-removebg-preview.png);
    background-size: cover;
}